*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
   
    color: rgb(242, 226, 226);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(22, 21, 21, 0.849) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.261) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: rgb(69, 62, 62); */
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);

    
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-decoration: dotted;
    border: 5px solid;
    text-align: center;
    border-radius: 30px;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-input{
    width: 80%;
    padding: 0.4rem;
    border-radius: 6px;
    height: 40px;
}
.search-btn{
    padding: 0.4rem;
    border-radius: 6px;
    height: 40px;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #299f5d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background: conic-gradient(#299f5d var(--progress-degree, 0%),#283a2e 0%);
    flex-direction: column;

}
.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;

}

.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.footer-text {
    font-size: 14px;
    letter-spacing: 0.8px;
    color: rgba(242, 226, 226, 0.7);
}
.footer-text:hover {
    color: #ff004f;
}

.header{
    position: absolute;
    top: 10px;
}
.header img{
    height: 200px
}


